<section id="character-info">
  <header class="base-info">
    <h4><span class="uppercase">{{GV.userChar.actor.name}}</span> the {{GV.userChar.actor.classType}} {{GV.userChar.actor.race}}</h4>
    <h5>Level: {{GV.userChar.actor.level}}</h5>
  </header>
  <div class="page-wrapper">
    <div ng-if="UT.page === 1" class="page1">
      <div class="extended-info">
        <div class="left">
          <div class="stats">
            <!-- angular variables go here -->
            <span>Str : {{GV.userChar.actor.baseStats.str}}</span>
            <span>Dex : {{GV.userChar.actor.baseStats.dex}}</span>
            <span>Con : {{GV.userChar.actor.baseStats.con}}</span>
            <span>Int : {{GV.userChar.actor.baseStats.int}}</span>
            <span>Wis : {{GV.userChar.actor.baseStats.wis}}</span>
            <span>Cha : {{GV.userChar.actor.baseStats.cha}}</span>
          </div>
        </div>
        <div class="right">
          <div>
            <span>XP : {{GV.userChar.xp}} </span>
          </div>
          <div>
            <span>HP : {{GV.userChar.hp}}</span>
            <span>AC : {{GV.userChar.ac}}</span>
            <span>Initiative : </span>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="UT.page === 2" class="page2">
      <p>Languages : </p>
      <ul class="languages flex-wrapper">
        <!-- ng repeat goes here -->
        <li
          class="language flex-content"
          ng-repeat="language in GV.userChar.actor.languages">
          {{language}}
        </li>
      </ul>
    </div>
  </div>
  <div class="char-info-nav game-info-nav">
    <i
      class="fa fa-angle-double-left char-info-nav-left"
      ng-class="{'available' : UT.leftAvailable}"
      ng-click="UT.leftAvailable ? UT.switchPage(charInfo.pages, 'left') : null"
      aria-hidden="true">
    </i>
    <i
      class="fa fa-angle-double-right char-info-nav-right"
      ng-class="{'available' : UT.rightAvailable}"
      ng-click="UT.rightAvailable ? UT.switchPage(charInfo.pages, 'right') : null"
      aria-hidden="true">
    </i>
  </div>
</div>
