<section id="combat">
  <header>
    <h4>Combat</h4>
  </header>
  <ul class="combat-actions flex-wrapper">
    <!-- melee attack -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
    <!-- ranged attack -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
    <!-- draw/sheath weapon -->
    <li class="flex-content explore-action">
      <!-- ng if weapon -->
      <img src="" />
      <!-- <img src="" /> -->
      <span>Draw weapon</span>
      <!-- <span>Sheath weapon</span> -->
    </li>
    <!-- rouge -->
    <!-- sneak attack -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
    <!-- fighter -->
    <!-- power attack -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
    <!-- cleve -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
    <!-- sorcerer and cleric -->
    <!-- spells -->
    <li class="combat-action flex-content">
      <img src="" />
    </li>
  </ul>
</section>
