<section id="inventory">
  <header>
    <h4>Inventory</h4>
    <h5>Gold : {{GV.user.character.money.gold}}</h5>
    <h5 ng-if="UT.page === 1">Weapons</h5>
    <h5 ng-if="UT.page === 2">Armor</h5>
    <h5 ng-if="UT.page === 3">Gear</h5>
  </header>
    <div ng-if="UT.page === 1">
      <ul class="weapons flex-wrapper">
        <li
          class="flex-content"
          ng-repeat="weapon in GV.user.character.weapons"
        >
          {{weapon.name}}
        </li>
      </ul>
    </div>
    <div ng-if="UT.page === 2">
      <ul class="armor flex-wrapper">
        <li
          class="flex-content"
          ng-repeat="armor in GV.user.character.armor"
        >
          {{armor.name}}
        </li>
      </ul>
    </div>
    <div ng-if="UT.page === 3">
      <ul class="gear flex-wrapper">
        <li
          class="flex-content"
          ng-repeat="gear in GV.user.character.gear"
        >
          {{gear.name}}
        </li>
      </ul>
    </div>
    <div class="gold">
    </div>
    <div class="inventory-nav game-info-nav">
      <i
        class="fa fa-angle-double-left inv-nav-left"
        ng-class="{'available' : UT.leftAvailable}"
        ng-click="UT.leftAvailable ? UT.switchPage(inv.pages, 'left') : null"
        aria-hidden="true">
      </i>
      <i
        class="fa fa-angle-double-right inv-nav-right"
        ng-class="{'available' : UT.rightAvailable}"
        ng-click="UT.rightAvailable ? UT.switchPage(inv.pages, 'right') : null"
        aria-hidden="true">
      </i>
    </div>
</section>
