<section id="party">
  <header>
    <h4>Party</h4>
  </header>
  <div class="party-members">
    <div class="party-member">
        <h5>Snuffle McSnuff Snuff</h5>
        <ul class="member-stats flex-wrapper">
          <li class="flex-content">HP : </li>
          <li class="flex-content">AC :</li>
          <li class="flex-content">Initiative : </li>
          <li class="flex-content">Move Speed : 1</li>
    </div>
    <div class="party-member">
        <h5>Jay Z</h5>
        <ul class="member-stats flex-wrapper">
          <li class="flex-content">HP : </li>
          <li class="flex-content">AC :</li>
          <li class="flex-content">Initiative : </li>
          <li class="flex-content">Move Speed : 3</li>
    </div>
    <div class="party-member">
        <h5>Bobby Brown</h5>
        <ul class="member-stats flex-wrapper">
          <li class="flex-content">HP : </li>
          <li class="flex-content">AC :</li>
          <li class="flex-content">Initiative : </li>
          <li class="flex-content">Move Speed : 8</li>
    </div>
    <div class="party-member">
        <h5>Donald Trump</h5>
        <ul class="member-stats flex-wrapper">
          <li class="flex-content">HP : </li>
          <li class="flex-content">AC :</li>
          <li class="flex-content">Initiative : </li>
          <li class="flex-content">Move Speed : 5</li>
    </div>
  </div>
</section>
