a.btn, .btn {
  display:inline-block;
  width:auto;
  padding:.5rem 1rem;
  margin:1rem;
  border-radius:$button-radius;
  background:$button-background;
  color:$button-color;
  border:3px solid $secondary-color-dark;
  text-decoration:none;
  text-transform:uppercase;
  cursor:pointer;
}
