.choose-dungeon {
    display:inline-flex;
    width:calc(100% - 300px);
    float:left;
    padding:2em;
    align-items:center;
    justify-content:space-between;
    .default, .custom {
        height:300px;
        width:50%;
        text-align:center;
        img {
            width:95%;
        }
        &:hover {
        }
        &.active {
            img {
                border:3px solid $secondary-color-bright;
            }
        }
        .custom-dungeon-icon {
            height:710px;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color:#1E091C;
            width:95%;
            margin:0 auto;
            transition:all .5s ease;
            .active {
                border:3px solid $secondary-color-bright;
                color:$secondary-color-bright;
            }
            i {
                font-size:5rem;
            }
            &:hover {
                transition:all .5s ease;
                color:$secondary-color-bright;
            }
        }
    }
    .default {

    }

}

div.options-wrapper {
  width: 300px;
  height: 100vh;
  position: fixed;
  right: 0;
  overflow: scroll;
  background-color: #1e091c;
  padding: 20px;
}

div.options-wrapper img {
  zoom:.6;
}

div.options-wrapper div.info {
  margin-bottom: 20px;
}

div.options-wrapper div.info input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
}

div.options-wrapper div.info button {
  margin-bottom: 20px;
}

div.options-wrapper div.size {
  margin-bottom: 20px;
}

div.options-wrapper div.size input {
  display: inline-block;
  width: 50px;
  height: 40px;
  padding: 5px;
}

div.options-wrapper div.tiles {
  display: block;
  margin: 20px 0;
}

div.options-wrapper div.size button {
  display: block;
}

div.game-wrapper {
  width: calc(100% - 300px);
}

div.options-wrapper div.select-options {
  position: absolute;
  background-color: #f2f2f2;
  width: 200px;
  left: 83px;
  padding: 10px;
  color: $primary-color;
  border: 2px #ccc solid;
}

div.options-wrapper div.select-options input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}
