#game {
    height:100vh;
    overflow:hidden;
    position:relative;
    #pixi-game-engine {
      z-index:-2;
      width:80%;
      display:inline-block;
      canvas {
        width:100%;
      }
    }
    iframe.game-chat {
      float:left;
      width:20%;
      height:100vh;
    }
}
