#game {
    height:100vh;
    overflow:hidden;
    position:relative;
    #pixi-game-engine {
      z-index:-2;
      canvas {
        width:100%;
      }
    }
    iframe {
      position:absolute;
      top:0;
      left:0;
    }
}
