#game-info {
  position:absolute;
  top:0;
  right:0;
  .utility-bar {
    height:100vh;
    background-color:$primary-color;
    position:relative;
    padding:3rem 1rem 0 1rem;
    float:right;
    box-shadow:$z-depth-high;
    .utility-icons {
      position:relative;
      z-index:1;
      li {
        margin-bottom:1.5rem;
        display:block;
        svg {
          fill:$accent-color;
          height:35px;
          width:auto;
          transition:all .25s ease;
          &:hover {
            fill:$secondary-color-bright;
            transition:all .25s ease;
          }
          &.active {
            fill:$secondary-color-bright;
            transition:all .25s ease;
          }
        }
      }
    }
  }
  .utility-panels {
    .panel {
      background-color:$primary-color;
      position:absolute;
      top:0;
      right:-320px;
      height:100vh;
      width:300px;
      padding:0 1rem;
      box-shadow:$z-depth-high;
      z-index:3;
      transition: all .25s ease;
      header {
        text-align:center;
        margin:3rem 1rem 1rem 1rem;
      }
      &.active {
        right:calc(50px + 1rem);
        transition: all .25s ease;
      }
      .flex-wrapper {
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
        .flex-content {
          padding:1rem .5rem;
          border-bottom:1px solid rgba($accent-color, .6);
          width:47%;
        }
      }
      .game-info-nav {
        position:absolute;
        margin:auto;
        left:0;
        right:0;
        bottom:2rem;
        text-align:center;
        font-size:1.5rem;
        i {
          margin:0 1rem;
          transition: all .25s ease;
          color:rgba($font-color, .3);
          &.available {
            color:rgba($font-color, 1);
            &:hover {
              transition: all .25s ease;
              color:$secondary-color-bright;
            }
          }
        }
      }
    }
    #character-info {
      overflow:hidden;
      .page-wrapper {
        position:relative;
      }
      .page1, .page2 {
        min-height:250px;
      }
      .page1 {
        .extended-info {
          display:flex;
          justify-content:space-between;
          .right, .left {
            height:100%;
            width:47%;
            div {
              margin:0 0 49px 0;
            }
            span {
              display:block;
              width:100%;
              padding:1rem .5rem;
              border-bottom: 1px solid rgba($accent-color, .6);
            }
          }
        }
      }
      .page2 {
        width:100%;
        padding:1rem .5rem;
        p {
          margin-bottom:1rem;
        }
      }
    }
    #inventory {
      .items {
        display:flex;
        flex-wrap:wrap;
        .item {
          width:33.33%;
          padding:1rem .5rem;
          height:100px;
          border:1px solid blue;
          img {
            width:100%;
            height:100%;
            border:1px solid red;
          }
        }
      }
    }
    #party {
      h5 {
        margin-bottom:0;
        text-align:center;
        font-size:1.1rem;
      }
      .member-stats {
        font-size:.8rem;
      }
    }
  }
}
