body {
  background-color:$primary-color;
  color:$font-color;
}

.container {
  width:$container-size-min;
  max-width:$container-size-max;
  margin:0 auto;
}

.uppercase {
  text-transform:capitalize;
}

.caps {
  text-transform:uppercase;
}
