#init-prompt {
  display:flex;
  align-items:center;
  justify-content:center;
  section {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
    height:100vh;
    flex-grow:1;
    background-size:cover;
    overflow:hidden;
    img {
      width:150%;
      transition:all .5s ease;
    }
    .btn {
      position: absolute;
      margin: auto;
      max-width: 150px;
      text-align: center;
      line-height:40px;
      left: 0;
      right: 0;
    }
    &:hover {
      img {
        width:100%;
        transition:all .5s ease;
      }
    }
    &.create-game {
    }
  }
}
