input {
    background-color:transparent;
    border:none;
    border-bottom:1px solid rgba($accent-color, .5);
    transition:all .5s ease;
    color:$font-color;
}

input:focus {
    border-bottom:1px solid $accent-color;
    transition:all .5s ease;
}

select {
    background-color:transparent;
}

option {
    background-color:$secondary-color-dark;
}
