table {
  width:100%;
  font-family:$body-font;
}

.join-head {
  text-transform:uppercase;
}

td {
  border-bottom:1px solid rgba($accent-color, .5);
  padding:1.5rem;

  &.campaign {
    width:30%;
  }

  &.host {
    width:30%;
  }

  &.spots {
    width:10%;
  }

  &.join {
    width:30%;
  }
}
