<div>
  Hi frand, I'm the create page.
  <h3>Name of String</h3>
  <input ng-model="create.campaign.name" type="text" placeholder="name of campaign" />
  <input ng-model="create.campaign.maxPlayers" type="number" placeholder="number of players" />
  <input ng-model="create.campaign.level" type="number" placeholder="level" />
  <input ng-model="create.campaign.description.background" type="text" placeholder="background" />
  <input ng-model="create.campaign.description.story" type="text" placeholder="story" />
  <button ng-click="create.postCampaign(create.campaign)">I'm a button</button>
</div>
