<section class="container">
  <h1>Available Campaigns</h1>
  <table>
    <th>
        <tr class="join-head">
          <td class="campaign">Campaign</td>
          <td class="host">Host</td>
          <td class="spots">Available Spots</td>
          <td class="join"></td>
        </tr>
    </th>
    <!-- Ng repeat goes into the tr -->
    <tr>
        <td>The Magical Land of Nore</td>
        <td>Snuffle McSnuffSnuffs</td>
        <td>3/4</td>
        <td><a class="btn" ng-src="{{campaign.url}}">Join Campaign</a></td>
    </tr>
  </table>
</section>
