<section class="container" id="lobby">
    <h1>Waiting for your Party</h1>
    <section class="party">
      <div class="dm">
        <img />
        <p>Ian the DM</p>
      </div>
      <!-- ng-repeat goes on party member -->
      <div class="party-member">
        <!-- char img plus char name -->
        <img />
        <p>Lovelace the Orc</p>
      </div>
      <div class="party-member">
        <img />
        <p>Matilda the Wizard</p>
      </div>
      <div class="party-member">
        <img />
        <p>Yeezus the Rouge</p>
      </div>
      <div class="party-member">
        <img />
        <p>Crazyeyes the Fighter</p>
      </div>
    </section>
    <section class="video-status-wrapper">
      <section class="video-chat">
        <!-- this is going to need a custom room name based on campaign name -->
        <iframe src="https://appear.in/dnddm4" width="100%" height="450" frameborder="0">
        </iframe>
      </section>
      <section class="party-status">
        <h3>Party Status</h3>
        <ul>
          <!-- ng-repeat goes on li -->
          <li class="party-member-status">Waiting for snuffle butter.
            <!-- ng if ready ? check : times (both icons will be on the li)-->
            <i class="fa fa-times waiting" aria-hidden="true"></i>
          </li>
          <li class="party-member-status">Snuffle butter is ready.
            <i class="fa fa-check ready" aria-hidden="true"></i>
          </li>
        <ul>
        <!-- ng if DM && game === ready-->
        <a href="#" class="btn">Start Game</a>
        <!-- ng if party member -->
        <a href="#" class="btn">I'm ready</a>
      </section>
    </section>
</section>
