<section class="container" id="lobby">
    <h1>Waiting for your Party</h1>
    <section class="party">
            <div class="party-member" ng-repeat="player in lobby.party.players">
                <span ng-if="player.char.name !== 'dm'">
                  <h3>Player</h3>
                  <p><span class="uppercase">{{player.char.name}}</span> the <span class="uppercase">{{player.char.race}} {{player.char.classType}}</span> joined</p>
                </span>
                <span ng-if="player.char.name === 'dm'">
                  <h3>Dungeon Master</h3>
                  <p><span class="uppercase">{{lobby.dm.userName}}</span> joined</p>
                </span>
            </div>
    </section>
    <section class="video-status-wrapper">
        <section class="video-chat">
            <!-- this is going to need a custom room name based on campaign name -->
            <iframe ng-src="https://appear.in/dnddm4" width="100%" height="450" frameborder="0">
            </iframe>
        </section>
        <section class="party-status">
            <h3>Party Status</h3>
            <ul>
                <li
                  ng-repeat="player in lobby.party.players"
                  class="party-member-status">
                    <span ng-if="player.status === 'pending'">
                      <span ng-if="player.char.name === 'dm'">Waiting for <span class="caps">{{player.char.name}}</span></span>
                      <span ng-if="player.char.name !== 'dm'">Waiting for <span class="uppercase">{{player.char.name}}</span></span>
                      <i class="fa fa-times waiting" aria-hidden="true"></i>
                    </span>
                    <span ng-if="player.status === 'ready'">
                      <span ng-if="player.char.name === 'dm'"><span class="caps">{{player.char.name}}</span> is ready.</span>
                      <span ng-if="player.char.name !== 'dm'"><span class="uppercase">{{player.char.name}}</span> is ready.</span>
                      <i class="fa fa-check ready" aria-hidden="true"></i>
                    </span>
                </li>
            <ul>
            <!-- ng if DM && game === ready-->
            <a ng-if="lobby.userChar.name === 'dm'" class="btn" ng-click="lobby.start ? lobby.signalStart() : null">Start Game</a>
            <!-- ng if party member -->
            <a class="btn" ng-click="lobby.signalReady()">I'm ready</a>
        </section>
    </section>
</section>
